<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle"> 
	<div th:replace="partials/title-meta :: title-meta('Restricción Maniobras')"></div>
</th:block>

<head>  
	<link rel="stylesheet" href="/assets/libs/@tarekraafat/autocomplete.js/css/autoComplete.css">
</head>

<body>
	<div layout:fragment="content"> 
		<div th:replace="partials/page-title :: page-title('Administración de Restricciones en Maniobras','Generar Evaluación')"></div>

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header border-0">
						<div class="row justify-content-center mb-4">
							<div class="col-lg-9">
								<div class="row g-2">
									<div class="col">
										<div class="position-relative mb-3">
											<input id="autoCompleteSubFase"
												   type="text" 
												   dir="ltr" 
												   spellcheck=false 
												   autocomplete="off" 
												   autocapitalize="off"
												   class="form-control form-control-lg bg-light border-light" 
												   placeholder="Buscar Sub Fase... ">
											
										</div>
									</div>
									<div class="col-auto pt-1">
										<button id="btnLimpiar" class="btn btn-primary btn-md waves-effect waves-light"><i class="mdi mdi-autorenew me-1"></i> Limpiar </button>
									</div>
								</div>
							</div> 
							<div class="col-lg-12">
								<h5 class="fs-16 fw-semibold text-center mb-0">Muestra del resultado seleccionado	 "<span id="txtSubFaseEncontrada" class="text-primary fw-medium fst-italic">Sin selección </span> "</h5>
							</div> 
						</div>
						<div id="contentDesglozarMisiones" class="row" style="display: none;">
							<div class="col-lg-12">
								<div class="d-lg-flex align-items-center mb-4">
									<div class="flex-grow-1 pe-lg-3">
										<div class="alert alert-warning mb-0 py-2">
											Sub fase <b><span id="txtSubFaseSeleccionada">-</span></b> en selección 
										</div> 
									</div>
									<div class="flex-shrink-0 mt-4 mt-lg-0">
										<button id="btnDesglozarMisiones"
												type="button" 
												class="btn btn-soft-success waves-effect waves-light material-shadow-none">Desglozar misiones 
											<i class="ri-arrow-down-line align-bottom"></i>
										</button> 
									</div>
								</div>
							</div>
						</div>
						<!--end row-->
 
					</div> 
					
					<div class="mb-3 card-body table-responsive"> 
						<div id="tbl-matriz" > 
						</div>
						<div id="loader" class="text-center" style="display: none;">							
							<div class="spinner-grow text-light" role="status">
							    <span class="sr-only">Cargando...</span>
							</div>
							<div class="spinner-grow text-light" role="status">
							    <span class="sr-only">Cargando...</span>
							</div>
							<div class="spinner-grow text-light" role="status">
							    <span class="sr-only">Cargando...</span>
							</div>
						</div>
					</div>
									
					<div class="border-top border-top-dashed m-3">
						<h6 class="my-3 fw-semibold text-uppercase text-center">Sumario</h6>
						<div class="row g-3">
							
							<div class="col-xxl-2 col-lg-4">
								<div class="border rounded border-dashed p-2">
									<div class="d-flex align-items-center">
										<div class="avatar-xs flex-shrink-0 me-3">
											<div class="avatar-title 
														bg-soft-info 
														text-info 
														rounded-circle 
														shadow">
												D
											</div>
										</div>
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="fs-13 mb-1">
												<a href="#" class="text-body text-truncate d-block">
													Demostración
												</a>
											</h5>
											<div>Demostrativo</div>
										</div> 
									</div>
								</div>
							</div> 

							<div class="col-xxl-2 col-lg-4">
								<div class="border rounded border-dashed p-2">
									<div class="d-flex align-items-center">
										<div class="avatar-xs flex-shrink-0 me-3">
											<div class="avatar-title 
														bg-soft-warning 
														text-warning 
														rounded-circle 
														shadow">
												I
											</div>
										</div>
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="fs-13 mb-1">
												<a href="#" class="text-body text-truncate d-block">
													Insuficiente
												</a>
											</h5>
											<div>Estándar Insuficiente</div>
										</div> 
									</div>
								</div>
							</div> 

							<div class="col-xxl-2 col-lg-4">
								<div class="border rounded border-dashed p-2">
									<div class="d-flex align-items-center">
										<div class="avatar-xs flex-shrink-0 me-3">
											<div class="avatar-title 
														bg-soft-primary 
														text-primary 
														rounded-circle 
														shadow">
												R
											</div>
										</div>
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="fs-13 mb-1">
												<a href="#" class="text-body text-truncate d-block">
													Regular
												</a>
											</h5>
											<div>Estándar Regular</div>
										</div> 
									</div>
								</div>
							</div> 

							<div class="col-xxl-2 col-lg-4">
								<div class="border rounded border-dashed p-2">
									<div class="d-flex align-items-center">
										<div class="avatar-xs flex-shrink-0 me-3">
											<div class="avatar-title 
														bg-soft-secondary 
														text-secondary 
														rounded-circle 
														shadow">
												B
											</div>
										</div>
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="fs-13 mb-1">
												<a href="#" class="text-body text-truncate d-block">
													Bueno
												</a>
											</h5>
											<div>Estándar Bueno</div>
										</div> 
									</div>
								</div>
							</div> 
							
							<div class="col-xxl-2 col-lg-4">
								<div class="border rounded border-dashed p-2">
									<div class="d-flex align-items-center">
										<div class="avatar-xs flex-shrink-0 me-3">
											<div class="avatar-title 
														bg-soft-success 
														text-success 
														rounded-circle 
														shadow">
												E
											</div>
										</div>
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="fs-13 mb-1">
												<a href="#" class="text-body text-truncate d-block">
													Excelente
												</a>
											</h5>
											<div>Estándar Excelente</div>
										</div> 
									</div>
								</div>
							</div> 
							
							<div class="col-xxl-2 col-lg-4">
								<div class="border rounded border-dashed p-2">
									<div class="d-flex align-items-center">
										<div class="avatar-xs flex-shrink-0 me-3">
											<div class="avatar-title 
														bg-soft-light
														text-dark 
														rounded-circle 
														shadow">
												SE
											</div>
										</div>
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="fs-13 mb-1">
												<a href="#" class="text-body text-truncate d-block">
													Sin Estándar
												</a>
											</h5>
											<div>Sin Selección</div>
										</div> 
									</div>
								</div>
							</div> 
											
						</div> 
					</div>
					
					<!-- Modal -->								
					<div class="modal modal-lg fade" id="mdRestriccion" tabindex="-1" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								
								<div class="modal-header bg-soft-warning p-3">
									<h5 class="modal-title" id="mdTitulo"></h5> 
									<button type="button" 
											class="btn-close" 
											data-bs-dismiss="modal"
											aria-label="Close" 
											id="close-modal">
									</button>
								</div>
								
									<div class="modal-body">    										
										<div class="d-flex flex-wrap gap-2 align-items-center mb-3"> 
											<div class="text-muted">( Módulo de registro y gestión de mensajes predefinidos para la calificación de maniobras.)</div>
										</div>
										
										<div class="pb-3 border-bottom border-bottom-dashed mb-4">
											<div class="row">
												<div class="col-lg-5 col-sm-6">
													<div class="p-2 border border-dashed rounded text-center">
														<div>
															<p class="text-muted fw-medium mb-1">Operación</p>
															<h5 id="txtNoNombreOperacionModal" class="fs-17 text-primary mb-0"></h5>
														</div>
													</div>
												</div>
												<div class="col-lg-2 col-sm-6">
													<div class="p-2 border border-dashed rounded text-center">
														<div>
															<p class="text-muted fw-medium mb-1">Misión</p>
															<h5 id="txtCoCodigoMisionModal" class="fs-17 text-primary mb-0"></h5>
														</div>
													</div>
												</div>
												<div class="col-lg-5 col-sm-12">
													<div class="p-2 border border-dashed rounded text-center">
														<div>
															<p class="text-muted fw-medium mb-1">Maniobra</p>
															<h5 id="txtNoNombreManiobraModal" class="fs-17 text-primary mb-0"></h5>
														</div>
													</div>
												</div> 
											</div>
										</div>
										
										<div class="row border-bottom border-bottom-dashed mb-4 pb-3 g-3"> 
												<div class="col-lg-4">
													<label for="cboEstandar-field" class="form-label">Estándar</label>
													<select class="form-control" 
													        data-choices 
													        data-choices-search-false
														    name="cboEstandar-field" 
														    id="cboEstandar-field"> 
														 <option th:each="selector : ${selectorMdEstandar}"
				                            					  th:value="${selector.value}"
															      th:text="${selector.text}"
															      th:selected="${selector.selected}">
														  </option>
													</select> 
												</div>  
												<div class="col-lg-12"> 
													<div>
													    <label for="txMensajePredefinido-field" class="form-label">Mensaje Predefinido</label>
													    <textarea type="text" class="form-control" id="txMensajePredefinido-field" rows="2" placeholder="Ingrese mensaje" maxlength="200" style="resize: none;"></textarea> 													
													</div> 
												</div>
												
												<div class="hstack gap-2 justify-content-end">
													<button type="button" 
															class="btn btn-light"
															data-bs-dismiss="modal">
															Cerrar
													</button>
													<button type="button" 
															class="btn btn-success btn-load" 
															id="btnRegistrarMensajePredefinido">
															<span id="txt-btn-loader"style="display: none;"> 
													            <span class="flex-grow-1 ms-2">
													                Cargando...
													            </span>
													        </span>
													        <span id="txt-btn-resolve">Registrar Mensaje</span>
													</button> 
												</div> 
											  
										</div>
										
										<span class="badge badge-soft-info mb-3 fs-12">
											<i class="ri-fire-fill me-1 align-bottom"></i>
											Estándar Mínimo Requerido
										</span>
										
										<!-- Nav tabs -->
										<ul class="nav nav-tabs nav-justified mb-3" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" data-bs-toggle="tab" href="#nav-badge-d" role="tab" aria-selected="true">
													Demostrativo
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link align-middle" data-bs-toggle="tab" href="#nav-badge-i" role="tab" aria-selected="false">
													Insuficiente
													<span class="badge badge-soft-info fs-12">
														<i class="ri-fire-fill me-1 align-bottom"></i>
													</span>
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link align-middle" data-bs-toggle="tab" href="#nav-badge-r" role="tab" aria-selected="false">
													Regular 	
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link align-middle" data-bs-toggle="tab" href="#nav-badge-b" role="tab" aria-selected="false">
													Bueno
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-bs-toggle="tab" href="#nav-badge-e" role="tab" aria-selected="false">
													Excelente
												</a>
											</li>
										</ul>
										
										<!-- Nav tabs -->
										<div class="tab-content text-muted">
											<div class="tab-pane active" id="nav-badge-d" role="tabpanel"></div>
											<div class="tab-pane" id="nav-badge-i" role="tabpanel"></div>
											<div class="tab-pane" id="nav-badge-r" role="tabpanel"></div>
											<div class="tab-pane" id="nav-badge-b" role="tabpanel"></div>
											<div class="tab-pane" id="nav-badge-e" role="tabpanel"></div>
										</div> 
													
									</div>
	
							</div>
						</div>
					</div>	
					
				</div> 
			</div> 
		</div> 
	</div>
	<th:block layout:fragment="pagejs"> 
		<script src="/assets/libs/@tarekraafat/autocomplete.js/autoComplete.min.js"></script> 
		<script src="/assets/js/pages/gtn-restriccion-maniobra.init.js"></script>
		<!--Notifications js -->
		<script src="/assets/js/notifications.js"></script>
	</th:block>
</body>