<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<div th:replace="partials/title-meta :: title-meta('Alumnos')"></div>
</th:block>

<head>
	<link href="/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div layout:fragment="content">
		<div th:replace="partials/page-title :: page-title('Catálogo de Alumnos','Miembros')"></div>

		<div class="row g-4 mb-3">
			
			<div class="col-sm-auto">
				<div>
					 
					<button id="addBtn"
							type="button" 
							class="btn btn-primary">
					   <i class="ri-add-line align-bottom me-1"></i> 
					   Agregar Alumno
					</button>

				</div>
			</div>
			
			<div class="col-sm">
				<div class="d-md-flex justify-content-sm-end gap-2">
					<div class="search-box ms-md-2 flex-shrink-0 mb-3 mb-md-0">
						<input type="text" 
							   class="form-control" 
							   id="buscarAlumno" 
							   placeholder="Buscar grupo por información..." 
							   autocomplete="off">
						<i class="ri-search-line search-icon"></i>
					</div>

					<select class="form-control"  
					        data-choices
							data-choices-search-false 
							name="cboPeriodo-field"
							id="cboPeriodo-field">
   		   				  <option th:each="periodo : ${selectorPeriodo}"
                    			  th:value="${periodo.value}"
								  th:text="${periodo.text}"
								  th:selected="${periodo.selected}">
						  </option>
					</select> 
				</div>
			</div>
			
		</div>
		
		<div id="content-data">
			<div id="candidate-list" class="row job-list-row"></div>
			
			<div class="row g-0 justify-content-center mb-4" id="pagination-element">
				<div class="col-sm-6">
					<div class="pagination-block pagination pagination-separated justify-content-center justify-content-sm-center mb-sm-0">
						<div class="page-item">
							<a href="javascript:void(0);" class="page-link" id="page-prev">Anterior</a>
						</div>
						<span id="page-num" class="pagination"></span>
						<div class="page-item">
							<a href="javascript:void(0);" class="page-link" id="page-next">Siguiente</a>
						</div>
					</div>
				</div>
			</div>			
		</div>
		
		<div id="loader" class="py-5 my-5 text-center">							
			<div class="spinner-grow text-primary" role="status">
			    <span class="sr-only">Cargando...</span>
			</div>
			<div class="spinner-grow text-primary" role="status">
			    <span class="sr-only">Cargando...</span>
			</div>
			<div class="spinner-grow text-primary" role="status">
			    <span class="sr-only">Cargando...</span>
			</div>
		</div> 
		<div id="noresult" class="noresult" style="display: none;">
			<div class="text-center">
				<lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
				  		   colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
				</lord-icon>
				<h5 class="mt-2">Disculpa! No se encontraron datos</h5>
				<p class="text-muted mb-0">
					La información consultada no ha sido encontrada en nuestra base de datos.
				</p>
			</div>
		</div>

		
		<div class="modal modal-lg fade" id="mdAlumno" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
								
					<div class="modal-header bg-soft-warning p-3">
						<h5 class="modal-title" id="mdTitulo"></h5>
						<button type="button" 
								class="btn-close" 
								data-bs-dismiss="modal"
								aria-label="Close" 
								id="close-modal">
						</button>
					</div>
						
					<form class="needs-validation tablelist-form" autocomplete="off" novalidate>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-3 mb-3"> 
									<label for="nuPeriodo-field" 
									       class="form-label">
									     	Periodo
									 </label>
									<select class="form-control"  
									        data-choices
											data-choices-search-false 
											name="nuPeriodo-field"
											id="nuPeriodo-field">
	             		   				  <option th:each="periodo : ${selectorMdPeriodo}"
	                            				  th:value="${periodo.value}"
												  th:text="${periodo.text}"
												  th:selected="${periodo.selected}">
										  </option>
									</select> 
								</div> 
								<div class="col-lg-9"> 
									<label for="coNsa-field" 
									       class="form-label">
									       Personal
									 </label>
									<select class="form-control"  
									        data-choices
											data-choices-search-false 
											name="coNsa-field"
											id="coNsa-field">
	             		   				  <option th:each="personal : ${selectorMdPersonal}"
	                            				  th:value="${personal.value}"
												  th:text="${personal.text}">
										  </option>
									</select> 
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="hstack gap-2 justify-content-end">
								<button type="button" 
										class="btn btn-light"
										data-bs-dismiss="modal">Cerrar</button>
								<button type="submit" class="btn btn-success" id="add-btn"></button> 
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>


	<th:block layout:fragment="modal">

	</th:block>

	<th:block layout:fragment="pagejs"> 
		<!-- Alumno js -->
		<script src="/assets/js/pages/gtn-alumno.init.js"></script>

		<!-- Sweet Alerts js -->
		<script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
	
		<!-- Notification js -->
		<script src="/assets/js/notifications.js"></script>
	</th:block>
</body>

</html>