<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<div th:replace="partials/title-meta :: title-meta('Dashboard')"></div>
</th:block>

<head>
</head>

<body>
	<div layout:fragment="content">
	<div class="row">
			<div class="col">

				<div class="h-100">
					<div class="row mb-3 pb-1">
						<div class="col-12">
							<div class="d-flex align-items-lg-center flex-lg-row flex-column">
								<div class="flex-grow-1">
									<h4 class="fs-16 mb-1"><span th:text="${saludo}"></span></h4>
									<p class="text-muted mb-0">Estas son las novedades sobre el legajo personal de calificativos de vuelo.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
 
	<th:block layout:fragment="pagejs"> 

	</th:block>
</body>

</html>