<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
	<div th:replace="partials/title-meta :: title-meta('Programa')"></div>
</th:block>

<head>
	<link rel="stylesheet" href="/assets/libs/nouislider/nouislider.min.css">
</head>

<body>
	<div layout:fragment="content"> 
	    <div class="col">
			<div class="h-100">
				<div class="row mb-3 pb-1">
					<div class="col-12">
						<div class="d-flex align-items-lg-center flex-lg-row flex-column">
							<div class="flex-grow-1">
								<h4 class="fs-16 mb-1"><span th:text="${saludo}"></span></h4> 
								<p class="text-muted">El <strong>Sistema de Gestión de Desempeño Académico para Pilotos(SISGEDA)</strong>, ha sido 
									diseñado para optimizar la evaluación y el seguimiento del progreso de pilotos alumnos e instructores. Aquí podrán 
									registrar y analizar su rendimiento académico.
								</p>
								<p class="text-muted">En los siguientes programas:</p>
								<ul class="text-muted vstack gap-2">
									<li>
										Programa de Instrucción <strong>(PDI)</strong>
									</li>
									<li>
										Programa de Entrenamiento <strong>(PDE)</strong>
									</li>
								</ul>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-5 row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-1 justify-content-center">
			<div class="col list-element">
	            <div class="card explore-box card-animate">
	                <div class="explore-place-bid-img">
	                    <input type="hidden" class="form-control" id="1">
	                    <div class="d-none">lpdapld</div>
	                    <img src="/assets/images/principal-pdi-v1.gif" alt="" class="card-img-top explore-img" />
	                    <div class="bg-overlay"></div>
	                    <div class="place-bid-btn">
	                        <a id="btnIrPDI" class="btn btn-success"><i class="ri-auction-fill align-bottom me-1"></i> Ir </a>
	                    </div>
	                </div>
	                <div class="bookmark-icon position-absolute top-0 end-0 p-2">
	                    <button type="button" class="btn btn-icon active" data-bs-toggle="button" aria-pressed="true"><i class="mdi mdi-cards-heart fs-16"></i></button>
	                </div>
	                <div class="card-body">
	                    <p class="fw-medium mb-0 float-end"><i class="mdi mdi-heart text-danger align-middle"></i> asasas1 </p>
	                    <h5 class="mb-1"><a href="apps-nft-item-details.html">kamkamdkam</a></h5>
	                    <p class="text-muted mb-0">dapdp</p>
	                </div>
	                <div class="card-footer border-top border-top-dashed">
	                    <div class="d-flex align-items-center">
	                        <div class="flex-grow-1 fs-14">
	                            <i class="ri-price-tag-3-fill text-warning align-bottom me-1"></i> Highest: <span class="fw-medium">ksmaskmak</span>
	                        </div>
	                        <h5 class="flex-shrink-0 fs-14 text-primary mb-0">saETH</h5>
	                    </div>
	                </div>
	            </div>
			</div>
			<div class="col list-element" th:if="${session.rolLogeado != 'ROLE_ALUMN'}">
	            <div class="card explore-box card-animate">
	                <div class="explore-place-bid-img">
	                    <input type="hidden" class="form-control" id="2">
	                    <div class="d-none">'+ prodctData.salesType + '</div>
	                    <img src="/assets/images/principal-pde-v1.gif" alt="" class="card-img-top explore-img" />
	                    <div class="bg-overlay"></div>
	                    <div class="place-bid-btn">
	                        <a id="btnIrPDE" class="btn btn-success"><i class="ri-auction-fill align-bottom me-1"></i> Ir </a>
	                    </div>
	                </div>
	                 <div class="bookmark-icon position-absolute top-0 end-0 p-2">
	                    <button type="button" class="btn btn-icon active" data-bs-toggle="button" aria-pressed="true"><i class="mdi mdi-cards-heart fs-16"></i></button>
	                </div>
	                <div class="card-body">
	                    <p class="fw-medium mb-0 float-end"><i class="mdi mdi-heart text-danger align-middle"></i> asasas1 </p>
	                    <h5 class="mb-1"><a href="apps-nft-item-details.html">kamkamdkam</a></h5>
	                    <p class="text-muted mb-0">dapdp</p>
	                </div>
	                <div class="card-footer border-top border-top-dashed">
	                    <div class="d-flex align-items-center">
	                        <div class="flex-grow-1 fs-14">
	                            <i class="ri-price-tag-3-fill text-warning align-bottom me-1"></i> Highest: <span class="fw-medium">ksmaskmak</span>
	                        </div>
	                        <h5 class="flex-shrink-0 fs-14 text-primary mb-0">saETH</h5>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
		

	</div>


	<th:block layout:fragment="modal">
	</th:block>

	<th:block layout:fragment="pagejs">

    <!-- nouisliderribute js -->
    <script src="/assets/libs/nouislider/nouislider.min.js"></script>
    <script src="/assets/libs/wnumb/wNumb.min.js"></script>

    <script src="/assets/js/pages/p-dir-programa.init.js"></script>

	</th:block>
</body>